<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="back">
    <hr><h4 class="fw-bold">
      <div class="spinner-grow spinner-grow-sm" style="margin-bottom: 5px;" role="status"></div>
      APLICAÇÃO DE GERENCIAMENTO DE AGENDA DE CONTATOS </h4>
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Apelido:</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email:</label>
            <input type="email" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">WhatsApp:</label>
            <input type="email" class="form-control">
          </div>
          <div class="d-flex flex-row-reverse ">

            <button type="submit" class="btn btn-primary" style="background-color: #080749;border-radius: 10px;  border-top-right-radius: 18px; border-bottom-right-radius: 18px;">Pesquisar</button>
            <button type="submit" class="btn btn-primary" style="margin-right: 5px; background-color: #080749; border-radius: 10px;  border-top-left-radius: 18px; border-bottom-left-radius: 18px;">Incluir</button>
          </div>
        </form>
      </div>
    </div>

    <br><hr><h5 class="fw-bold">
      <div class="spinner-grow spinner-grow-sm" style="margin-bottom: 4px;" role="status"></div>
      RESULTADOS
    </h5>
    <div class="card">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr class="tr">
              <th scope="col" class="white">Nome</th>
              <th scope="col" class="white">Apelido</th>
              <th scope="col" class="white">E-mail</th>
              <th scope="col" class="white">WhatsApp</th>
              <th scope="col" class="white">Ações</th>
            </tr>
          </thead>

          
          
          
          <tbody>
            <tr>
              <td>Jesiel F. Gama</td>
              <td>Jesiel</td>
              <td>jesiel_gama1@hotmail.com</td>
              <td>(16)99271-9204</td>
              <td>
                  <a href="#" class="text-reset">Editar</a><br>
                  <a href="#" class="text-reset">Remover</a>
              </td>
            </tr>
            <tr>
              <td>Maria da Silva</td>
              <td>Mari</td>
              <td>Maria01@hotmail.com</td>
              <td>(16)99271-9999</td>
              <td>
                <a href="#" class="text-reset">Editar</a><br>
                <a href="#" class="text-reset">Remover</a>
              </td>
            </tr>
            <tr>
              <td>José da Silva</td>
              <td>Zé</td>
              <td>Jose556@hotmail.com</td>
              <td>(16)99271-1234</td>
              <td>
                <a href="#" class="text-reset">Editar</a><br>
                <a href="#" class="text-reset">Remover</a>
              </td>
            </tr>
          </tbody> 
        </table>
      </div>
    </div>

    <br><hr>
    <p class="text-center">Desenvolvido por Jesiel F. Gama em 13/07/2021</p>

    </div>
  </body>
</html>
