body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  
}
.back{
  padding: 50px;
  background-color: #bfbfe2 ;

}

h4,h5 {
  color: #080749;
}

.tr{
  background-color: #080749 ;
}

.white{
  color: white;
}

.btn{
  color: #080749;
  background-color: #080749;
}


